{% extends "base.html.twig" %}

{% block body %}
    <h1 class="display-4 text-center">Ajouter une note </h1>
    <br><br>


    {{ form_start(exam,{ 'attr' : {'class': "col-md-6 mx-auto"}}) }}
    {{ form_row(exam.user) }}

    {{ form_row(exam.subject) }}
    {{ form_row(exam.mark, { 'attr' : {'placeholder': "note du cours",}}) }}
    {{ form_row(exam.date) }}

    <button type="submit" class="btn btn-primary"> Enregistrer</button>
    {{ form_end(exam) }}
    <br><br><br>

{% endblock %}