<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


        <li class="nav-item"><a href="{{ path('user_list')}}" class="nav-link">
        <i class="nav-icon far fa-image"></i><p>Utilisateurs</p></a></li>

        <li class="nav-item"><a href="{{ path('classe_list')}}" class="nav-link">
        <i class="nav-icon far fa-image"></i><p>Classes</p></a></li>

        <li class="nav-item"><a href="{{ path('backSubject')}}" class="nav-link">
        <i class="nav-icon far fa-image"></i><p>Matières</p></a></li>

        <li class="nav-item"><a href="{{ path('indexPlanning')}}" class="nav-link">
        <i class="nav-icon far fa-image"></i><p>Planning</p></a></li>

        <li class="nav-item"><a href="{{ path('indexNews')}}" class="nav-link">
        <i class="nav-icon far fa-image"></i><p>Actualités</p></a></li>

        <li class="nav-item"><a href="{{ path('indexMenu')}}" class="nav-link">
        <i class="nav-icon far fa-image"></i><p>Menu</p></a></li>
                               
    </ul>
</nav>    

